body{
background: linear-gradient(60deg, rgb(126, 1, 126), #6f01ff);
font-size: 30px;
}


header{
    background: linear-gradient(90deg, red, blue, purple );
    border-radius: 20px;
}


nav a {
    text-decoration: none;
    color: #b90707fd;
} 

hr{
   border-color: rgb(226, 5, 255);
}

nav{
 
    background-color: rgb(118, 146, 238);
    border-radius: 30px;
}

#inicio{
    color: rgb(255, 0, 255);
    text-decoration: none;
}


#REF{
display: flex;
padding: 3px;
text-decoration: none;
color: rgb(185, 187, 183);
justify-content: center;
}
#REF:hover{
color: rgb(238, 147, 147);
}

#direct{
    color: rgba(104, 104, 104, 0.863);
    display: flex;
   justify-content: center;
   align-items: center;

}
footer{
    background-color: rgba(182, 182, 182, 0.534);
    border-radius: 20px 20px 10px 0px;
    padding-top: 40px;

}
#Referencias{
display: flex;
padding: 3px;
text-decoration: none;
color: rgb(221, 221, 221);
justify-content: center;

}

#icons{
    width: 50px;
  
}

#contat{
    font-size: 25px;
    color: rgb(167, 167, 167);
}

